*.o
*.hex
*.d
*.crf
*.axf
*.map
*.htm
*.lnp
*.sct
*.dep
*.lst
*.scvd
*.iex
MDK-ARM/.vscode/

MDK-ARM/2023_Energy_Mechine_Code.uvguix.WHZ
MDK-ARM/2023_Energy_Mechine_Code.uvoptx
MDK-ARM/.vscode/uv4.log.lock
